
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Roboto-light-italic';
    src: url('../font/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
* {
    border: 2px;
    border-color: red;
    font-family: Roboto;
}

body{
    background-color: #1F2937;
    margin: 0px;
    height: 100%;
}

.container{
    height:100%
}

.top-container{ 
    background-color: #1F2937;
}

/* || HEADER */

.header {
    display: flex;
    margin: 20px 10% 140px 10%;
}
.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 2 1 auto;
    width: 300px;
}

.header .menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    column-gap: 20px;
}
.header .menu .header-link {
    font-size: 18px;
    color: #E5E7EB;

}

/* || HERO */

.hero{
    margin: 20px 10% 30px 10%;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 130px;
}
.hero-sub{
    flex:1;
    max-width: 460px;
}
.hero-sub .title{
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
}
.hero-sub .text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
}
.hero-img{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.hero .button {
    margin-top: 15px;;
    background-color: #3882F6; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    font-size: 16px;
  }

/* || SUB CONTENT */

.mid-container{
    background-color: white;
    padding-bottom: 80px;
    flex:1;
}
.info{
    margin: 20px 10% 100px 10%; 
}
.info .title{
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-weight: 800;
}
.infobox{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.infobox .box{
    border: 4px;
    border-color: #3882F6;
    border-radius: 12px;
    height: 180px;
    width: 180px;
    border-style: solid;
}
.infobox .text{
    margin-top: 8px;
    font-size: 18px;
    color: rgb(54, 53, 53);
    display: block;
    max-width: 180px;
    text-align: center;
}

/* || QUOTE */
.quote{
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote .text{
    font-size: 36px;
    color: #1F2937;
    font-family: Roboto-light-italic;
    max-width: 800px;
    max-height: 200px;
    flex: 1; 
}
.quote .author{
    display: block;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

/* || QUOTE */

.action{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.action .action-wrapper{
    background-color: #3882F6;
    width: 800px;
    padding: 40px 80px;
    border-radius: 12px;
    display: flex;
}

.action .action-wrapper .text .title{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.action .action-wrapper .text{
    color: #F9FAF8;
    width: 60%;
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.button-wrapper .button{
    color: #F9FAF8;
    font-weight: 600;
    justify-content: center;
    border: 4px;
    border-style: solid;
    border-radius: 12px;
    border-color: white;
    padding: 12px 50px;
}

/* || QUOTE */

.footer{
    height: 80px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.footer .text{
    color: #F9FAF8;
}